nav{
      /* display: flex; */
      gap: 30px;
      display: flex;
      

     }
      nav a{
        text-decoration: none;
      }
        .banner-content{
            font-display: white
            padding: 10px;
            align-items: center;
            text-align: center;
        }
        
.banner-img-container img {
           flex: 1;
           width: 1500px;
           
          }
          .section h2{
              margin: 10px;
              Text-align: center;
              padding: 10px;
              font-size: 40px;
          }
          .Demis{
            position: absolute;
            right: 300px;
            width:300px;
         }

         .price-box{
            width: 250px;
            display: inline-block;
            background: white;
            border: 1px solid black;
            margin: 10px;
            padding: 20px;
            vertical-align:top;
         }
         .price-box h3{
            font-size: 40px;
         }

         .price-box{
            display: inline-block;
            margin: 15px;
            padding: 10px 20px;
            border: 1px solid black;
            text-decoration: none;
            
         }
         .dark{
            background-color:black;
            color: white;
         }
         .faq-container{
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }
         
